body {
    background-image: url(https://media.giphy.com/media/26BkO4o9e0GSZsrg4/giphy.gif);
}
h2 {
    text-align: center;
    color:crimson;
    font-family: 'Indie Flower', cursive;
}
h3 {
    text-align: center;
    color: crimson;
    font-family: 'Indie Flower', cursive;
}
h5 {
    color:coral;
    font-family: 'Indie Flower', cursive;
}
p {
    color: darkred;
    font-family: 'Indie Flower', cursive;
}
a {
    color:firebrick;
    font-family: 'Indie Flower', cursive;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}